In [1]:
list1 = [10,20,30,40]
list1.reverse()
print(list1)

[40, 30, 20, 10]

In [2]:
list2 = [30,6,23,78,4]
list2.sort()
print(list2)

[4, 6, 23, 30, 78]

In [3]:
list3 = ["Orange", "Banana", "Papaya"]
list3.sort()
print(list3)

['Banana', 'Orange', 'Papaya']

In [4]:
list4 = [4,"a",9,"d"]
list4.sort()
print(list4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [5]:
list5 = [30,6,23,78,4]
list5.sort(reverse = True)
print(list5)

[78, 30, 23, 6, 4]

In [6]:
l1 = [20,30]
l2 = [40,50]
l3 = l1 + l2
print(l3)

[20, 30, 40, 50]

In [7]:
l4 = [10,20]
l5 = l4*2
print(l5)

[10, 20, 10, 20]

In [8]:
l6 = ["Orange", "Papaya"]
l7 = ["Orange", "Papaya"]
l8 = ["Guava", "Apple"]
l9 = ["ORANGE", "PAPAYA"]
print(l6 == l7) #True
print(l6 == l8) #False
print(l6 != l8) #True
print(l6 != l9) #True

True
False
True
True

In [9]:
l10 = [20,30,40]
print(20 in l10) #True
print(30 not in l10) #False
print(60 in l10) #False

True
False
False

In [10]:
# clear()
l11 = [20,30,40]
print(l11)
l11.clear()
print(l11)

[20, 30, 40]
[]

In [11]:
# Nested list
lt1 = [10,20,[30,40]]
print(lt1)
print(lt1[1])
print(lt1[2])
print(lt1[2][0])
print(lt1[2][1])

[10, 20, [30, 40]]
20
[30, 40]
30
40

In [13]:
# write a program to disply unique vowels present in the given word

In [14]:
t1 = (10,20,30,40)
print(type(t1))

<class 'tuple'>

In [15]:
# tuple ()
l12 = [10,20,30]
t2 = tuple(l12)
print(type(t2))

<class 'tuple'>

In [18]:
# By using index , we can acces element
print(t2[1])
print(t2[-3])

20
10

In [19]:
# Slice
print(t2[0:2])

(10, 20)

In [20]:
# +, * can be use
t3 = (10,20,30,40)
t4 = (50,60)
t5 = t3 + t4
print(t5)

(10, 20, 30, 40, 50, 60)

In [21]:
t6 = (50,60)
t7 = t6*3
print(t7)

(50, 60, 50, 60, 50, 60)

In [ ]:
# len(), count(),index(),sorted(), min(), max(), cmp()